<!DOCTYPE html>
<section xmlns="http://www.w3.org/1999/xhtml"
		id="game-details">
	<h1>
		<span ng-if="game.name_short"
				data-toggle="tooltip"
				title="{{ game.name }}">
			{{ game.name_short }}
		</span>
		<span ng-if="!game.name_short">{{ game.name }}</span>
		<small ng-if="game.year || game.designer_display"
				class="text-secondary">
			<span ng-if="game.designer_display">by {{ game.designer_display }}</span>
			<span ng-if="game.year">({{ game.year }})</span>
		</small>
	</h1>

	<div ng-show="maintenanceMode"
			class="alert alert-danger"
			role="alert">
		<h4 class="alert-heading"><span class="recommend-games">Recommend.Games</span> is currently under maintenance</h4>
		<p ng-if="maintenanceMessage"
				ng-bind-html="maintenanceMessage"
				class="mb-0"></p>
	</div>

	<div ng-if="errorMessage"
			class="alert alert-warning"
			role="alert">
		<h4 class="alert-heading">No game found</h4>
		<p class="mb-0">
			{{ errorMessage }}
		</p>
	</div>

	<!--<p>
		View on <a ng-href="{{ game.url }}" target="_blank">BoardGameGeek <i class="fas fa-external-link-alt"></i></a>.
		Buy from
		<a ng-href="https://www.amazon.com/gp/search?ie=UTF8&amp;tag=ludoj0f-20&amp;index=toys-and-games&amp;keywords={{ game.name_url }}"
			target="_blank"
			title="Buy from Amazon.com"
			class="product-link">Amazon <span class="product-link-flag">🇺🇸</span></a>
		<a ng-href="https://www.amazon.co.uk/gp/search?ie=UTF8&amp;tag=ludoj-21&amp;index=toys&amp;keywords={{ game.name_url }}"
			target="_blank"
			title="Buy from Amazon.co.uk"
			class="product-link product-link-flag">🇬🇧</a>
		<a ng-href="https://www.amazon.de/gp/search?ie=UTF8&amp;tag=ludoj09-21&amp;index=toys&amp;keywords={{ game.name_url }}"
			target="_blank"
			title="Buy from Amazon.de"
			class="product-link product-link-flag">🇩🇪</a>
		<a ng-href="https://www.amazon.fr/gp/search?ie=UTF8&amp;tag=ludoj04-21&amp;index=toys&amp;keywords={{ game.name_url }}"
			target="_blank"
			title="Buy from Amazon.fr"
			class="product-link product-link-flag">🇫🇷</a>
		<a ng-href="https://www.amazon.it/gp/search?ie=UTF8&amp;tag=ludoj09f-21&amp;index=toys&amp;keywords={{ game.name_url }}"
			target="_blank"
			title="Buy from Amazon.it"
			class="product-link product-link-flag">🇮🇹</a>
		<a ng-href="https://www.amazon.es/gp/search?ie=UTF8&amp;tag=ludoj0f-21&amp;index=toys&amp;keywords={{ game.name_url }}"
			target="_blank"
			title="Buy from Amazon.es"
			class="product-link product-link-flag">🇪🇸</a>
	</p>-->

	<div class="game-description {{ expandable ? 'expandable' : '' }} {{ expandDescription ? 'expanded' : '' }} clearfix">
		<img ng-if="game.image_url &amp;&amp; game.image_url.length"
			ng-src="{{ game.image_url[0] }}"
			class="img-fluid game-img d-block float-md-right mb-3 mx-auto ml-md-3"
			alt="{{ game.name }}"
			title="{{ game.name }}" />
		<!-- TODO artist as caption -->
		<div class="game-info-box mb-3">
			<player-count ng-if="game" game="game"></player-count>
			<span ng-if="game.time_string"
					class="game-time">
				<i class="fas fa-hourglass-half"></i> {{ game.time_string }}
			</span>
			<span ng-if="game.min_age_rec || game.min_age"
					class="game-age">
				<i class="fas fa-child"></i> {{ game.min_age_rec || game.min_age | number:0 }}+ years
			</span>
			<span ng-if="game.complexity_string"
					class="game-complexity"
					data-toggle="tooltip"
					title="{{ game.complexity | number:1 }} / 5">
				<i class="fas fa-balance-scale"></i> {{ game.complexity_string }}
			</span>
			<span ng-if="game.cooperative_string"
					class="game-cooperative">
				<i class="fas {{ game.cooperative ? 'fa-handshake' : 'fa-fist-raised' }}"></i> {{ game.cooperative_string }}
			</span>
			<span ng-if="game.rec_rank"
					class="game-ranking">
				<i class="fas fa-hashtag"></i> Rank: {{ game.rec_rank | number:0 }}
			</span>
		</div>
		<p ng-repeat="description in game.description_array"
				class="{{ $first ? 'lead' : '' }}">
			{{ description }}
		</p>
		<!-- TODO super uply – this should be done in controller -->
		<p ng-if="(game.game_type_name &amp;&amp; game.game_type_name.length) || (game.category_name &amp;&amp; game.category_name.length) || (game.mechanic_name &amp;&amp; game.mechanic_name.length)">
			<a ng-repeat="(id, game_type) in game.game_type_data"
					ng-href="/#/?gameType={{ id }}"
					class="badge badge-dark mr-1">
				<i class="fas fa-user-ninja"></i>
				{{ game_type }}
			</a>
			<a ng-repeat="(id, category) in game.category_data"
					ng-href="/#/?category={{ id }}"
					class="badge badge-secondary mr-1">
				<i class="fas fa-scroll"></i>
				{{ category }}
			</a>
			<a ng-repeat="(id, mechanic) in game.mechanic_data"
					ng-href="/#/?mechanic={{ id }}"
					class="badge badge-light mr-1">
				<i class="fas fa-cogs"></i>
				{{ mechanic }}
			</a>
		</p>
		<div ng-if="expandable"
				ng-click="toggleDescription()"
				class="expandable-bottom">
			<span ng-if="expandDescription">
				<i class="far fa-minus-square"></i> Less
			</span>
			<span ng-if="!expandDescription">
				<i class="far fa-plus-square"></i> More
			</span>
		</div>
	</div>

	<section ng-if="implementations">
		<h2>
			Related games
		</h2>
		<div class="row align-items-end related-games">
			<div ng-repeat="game in compilationOf" class="col-xl-2 col-md-3 col-sm-4 col-6">
				<strong ng-if="$first">Contains:</strong>
				<a game-square=""
					game="game"
					show-ranking="true"
					ng-href="/#/game/{{ game.bgg_id }}"
					class="game-small"></a>
			</div>
			<div ng-repeat="game in integratesWith" class="col-xl-2 col-md-3 col-sm-4 col-6">
				<strong ng-if="$first">Integrates with:</strong>
				<a game-square=""
					game="game"
					show-ranking="true"
					ng-href="/#/game/{{ game.bgg_id }}"
					class="game-small"></a>
			</div>
			<div ng-repeat="game in implementationOf" class="col-xl-2 col-md-3 col-sm-4 col-6">
				<strong ng-if="$first">Reimplements:</strong>
				<a game-square=""
					game="game"
					show-ranking="true"
					ng-href="/#/game/{{ game.bgg_id }}"
					class="game-small"></a>
			</div>
			<div ng-repeat="game in implementedBy" class="col-xl-2 col-md-3 col-sm-4 col-6">
				<strong ng-if="$first">Reimplemented by:</strong>
				<a game-square=""
					game="game"
					show-ranking="true"
					ng-href="/#/game/{{ game.bgg_id }}"
					class="game-small"></a>
			</div>
			<div ng-repeat="game in containedIn" class="col-xl-2 col-md-3 col-sm-4 col-6">
				<strong ng-if="$first">Contained in:</strong>
				<a game-square=""
					game="game"
					show-ranking="true"
					ng-href="/#/game/{{ game.bgg_id }}"
					class="game-small"></a>
			</div>
			<div ng-repeat="game in similarGames" class="col-xl-2 col-md-3 col-sm-4 col-6">
				<strong ng-if="$first">You might also like:</strong>
				<a game-square=""
					game="game"
					show-ranking="true"
					ng-href="/#/game/{{ game.bgg_id }}"
					class="game-small"></a>
			</div>
		</div>
	</section>

	<!-- TODO super uply – this should be done in controller -->
	<section ng-if="(game.alt_name &amp;&amp; game.alt_name.length) || game.bgg_rank || game.bayes_rating || game.avg_rating || game.rec_rank || bestRankingBGG || bestRankingRG || game.designer_data || game.artist_data || game.complexity || game.language_dependency || (game.external_links &amp;&amp; game.external_links.length)">
		<h2>Statistics</h2>
		<dl class="row">
			<dt ng-if="game.bgg_rank || game.bayes_rating || game.avg_rating || bestRankingBGG"
					class="col-md-3 col-sm-4 col-12">
				<img src="/assets/bgg-color.svg"
					class="img-fluid img-icon-stats"
					alt="BoardGameGeek ranking" />
				BGG ranking
			</dt>
			<dd ng-if="game.bgg_rank || game.bayes_rating || game.avg_rating || bestRankingBGG"
					class="col-md-9 col-sm-8 col-12">
				<span ng-if="game.bgg_rank || game.bayes_rating || game.avg_rating">
					<strong ng-if="game.bgg_rank">#{{ game.bgg_rank | number:0 }}</strong>
					<span ng-if="game.bgg_rank">(</span><span ng-if="game.bayes_rating">geek rating
					<strong>{{ game.bayes_rating | number:3 }} / 10</strong>,</span>
					<span ng-if="game.avg_rating">average rating
					<strong>{{ game.avg_rating | number:3 }} / 10</strong>,</span>
					from <strong>{{ game.num_votes || 0 | number:0 }}</strong> votes<span ng-if="game.bgg_rank">)</span>
				</span>
				<br ng-if="(game.bgg_rank || game.bayes_rating || game.avg_rating) &amp;&amp; bestRankingBGG"/>
				<span ng-if="bestRankingBGG">
					Best position ever: <strong>#{{ bestRankingBGG.rank | number:0 }}</strong>
					(last on <strong>{{ bestRankingBGG.date.format('LL') }}</strong>)
				</span>
			</dd>

			<dt ng-if="game.rec_rank || bestRankingRG"
					class="col-md-3 col-sm-4 col-12">
				<img src="/assets/favicon.svg"
					class="img-fluid img-icon-stats"
					alt="Recommend.Games ranking" />
				<span class="recommend-games">R.G</span> ranking
			</dt>
			<dd ng-if="game.rec_rank || bestRankingRG"
					class="col-md-9 col-sm-8 col-12">
				<span ng-if="game.rec_rank">
					<strong>#{{ game.rec_rank | number:0 }}</strong>
					(rating <strong>{{ game.rec_rating | number:3 }}</strong>
					<i ng-repeat="starClass in game.star_classes track by $index" class="{{ starClass }}"></i>)
				</span>
				<br ng-if="game.rec_rank &amp;&amp; bestRankingRG" />
				<span ng-if="bestRankingRG">
					Best position ever: <strong>#{{ bestRankingRG.rank | number:0 }}</strong>
					(last on <strong>{{ bestRankingRG.date.format('LL') }}</strong>)
				</span>
			</dd>

			<dt ng-if="game.designer_data"
					class="col-md-3 col-sm-4 col-12">
				<i class="fas fa-lightbulb"></i>
				Designer
			</dt>
			<dd ng-if="game.designer_data"
					class="col-md-9 col-sm-8 col-12">
				<span ng-repeat="(id, name) in game.designer_data">
					<a ng-href="/#/?designer={{ id }}"><strong>{{ name }}</strong></a><span ng-if="!$last">, </span>
				</span>
			</dd>

			<dt ng-if="game.artist_data"
					class="col-md-3 col-sm-4 col-12">
				<i class="fas fa-paint-brush"></i>
				Artist
			</dt>
			<dd ng-if="game.artist_data"
					class="col-md-9 col-sm-8 col-12">
				<span ng-repeat="(id, name) in game.artist_data">
					<a ng-href="/#/?artist={{ id }}"><strong>{{ name }}</strong></a><span ng-if="!$last">, </span>
				</span>
			</dd>

			<dt ng-if="game.alt_name &amp;&amp; game.alt_name.length"
					class="col-md-3 col-sm-4 col-12">
				<i class="fas fa-tags"></i>
				Other names
			</dt>
			<dd ng-if="game.alt_name &amp;&amp; game.alt_name.length"
					class="col-md-9 col-sm-8 col-12">
				<span ng-repeat="name in game.alt_name">
					<strong>{{ name }}</strong><span ng-if="!$last">, </span>
				</span>
			</dd>

			<dt ng-if="game.complexity"
					class="col-md-3 col-sm-4 col-12">
				<i class="fas fa-balance-scale"></i>
				Complexity
			</dt>
			<dd ng-if="game.complexity"
					class="col-md-9 col-sm-8 col-12">
				<strong>{{ game.complexity | number:2 }} / 5</strong> ({{ game.complexity_string }})
			</dd>

			<dt ng-if="game.kennerspiel_score"
					class="col-md-3 col-sm-4 col-12">
				<i class="fas fa-chess-pawn"></i>
				Kennerspiel score
			</dt>
			<dd ng-if="game.kennerspiel_score"
					class="col-md-9 col-sm-8 col-12">
				<strong ng-class="game.kennerspiel_score < 0.5 ? 'sdj-color' : 'kdj-color'">
					{{ game.kennerspiel_score * 100 | number:0 }}%
				</strong>
				<a href="https://blog.recommend.games/posts/what-makes-kennerspiel/"
						data-toggle="tooltip"
						data-placement="right"
						title="Spiel or Kennerspiel? Read more about our Kennerspiel score on the blog!"
						class="text-muted">
					<i class="fas fa-info-circle"></i>
				</a>
			</dd>

			<dt ng-if="game.language_dependency"
					class="col-md-3 col-sm-4 col-12">
				<i class="fas fa-globe"></i>
				Language dependency
			</dt>
			<dd ng-if="game.language_dependency"
					class="col-md-9 col-sm-8 col-12">
				<strong>{{ game.language_dependency | number:2 }} / 5</strong> ({{ game.language_dependency_string }})
			</dd>

			<dt ng-if="game.external_links &amp;&amp; game.external_links.length"
					class="col-md-3 col-sm-4 col-12">
				<i class="fas fa-mouse-pointer"></i>
				External links
			</dt>
			<dd ng-if="game.external_links &amp;&amp; game.external_links.length"
					class="col-md-9 col-sm-8 col-12">
				<span ng-repeat="link in game.external_links">
					<a ng-href="{{ link.url }}" target="_blank">
						<span ng-if="$first || link.site !== game.external_links[$index - 1].site">
							<img ng-if="link.icon_url"
								ng-src="{{ link.icon_url }}"
								class="img-fluid img-icon-stats"
								alt="{{ link.label || link.site }}" />
							<i ng-if="link.icon_class"
								class="{{ link.icon_class }}"></i>
							<strong>{{ link.label || link.site }}</strong>
						</span>
						<i class="fas fa-external-link-alt"></i></a><span ng-if="!$last">, </span>
				</span>
				<br />
				<small class="text-muted">
					(This is an experimental feature. If you spot bad links, please <a ng-href="mailto:feedback@recommend.games?subject={{ emailSubject }}">let us know</a>!)
				</small>
			</dd>
		</dl>
		<section ng-if="chartVisible">
			<h3>Rankings over time</h3>
			<form class="form-inline mb-1">
				<label class="switch mr-1">
					<input type="checkbox"
						id="display-rg-data"
						name="display-rg-data"
						ng-model="display.rg" />
					<span class="slider {{ display.rg ? 'bg-success' : 'bg-secondary' }}"></span>
				</label>
				<label class="{{ display.rg ? 'rg-color' : 'text-muted' }} mr-2"
						for="display-rg-data">
					<strong class="recommend-games">Recommend.Games</strong>
				</label>
				<label class="switch mr-1">
					<input type="checkbox"
						id="display-factor-data"
						name="display-factor-data"
						ng-model="display.factor" />
					<span class="slider {{ display.factor ? 'bg-success' : 'bg-secondary' }}"></span>
				</label>
				<label class="{{ display.factor ? 'rg-color-light' : 'text-muted' }} mr-2"
						for="display-factor-data">
					<strong>Old <span class="recommend-games">R.G</span></strong>
				</label>
				<label class="switch mr-1">
					<input type="checkbox"
						id="display-bgg-data"
						name="display-bgg-data"
						ng-model="display.bgg" />
					<span class="slider {{ display.bgg ? 'bg-success' : 'bg-secondary' }}"></span>
				</label>
				<label class="{{ display.bgg ? 'bgg-color' : 'text-muted' }} mr-2"
						for="display-bgg-data">
					<strong>BoardGameGeek</strong>
				</label>
				<span id="date-range-container"></span>
			</form>
			<div id="ranking-history-container"></div>
		</section>
	</section>
</section>
