<!DOCTYPE html>
<section xmlns="http://www.w3.org/1999/xhtml"
		id="games-list">
	<p class="lead mt-3">
		Top-rated board games as evaluated by our <a href="https://gitlab.com/recommend.games/board-game-recommender" target="_blank">recommendation engine <i class="fas fa-external-link-alt"></i></a>.
		Read more <a href="/#/about">about <span class="recommend-games">Recommend.Games</span></a>.
	</p>

	<div ng-if="maintenanceMode"
			class="alert alert-danger"
			role="alert">
		<h4 class="alert-heading"><span class="recommend-games">Recommend.Games</span> is currently under maintenance</h4>
		<p ng-if="maintenanceMessage"
				ng-bind-html="maintenanceMessage"
				class="mb-0"></p>
	</div>

	<div ng-if="blogTitle &amp;&amp; blogLink"
			class="alert alert-primary alert-dismissible fade show"
			role="alert">
		Latest blog post: <a ng-href="{{ blogLink }}" class="alert-link">{{ blogTitle}}</a>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div ng-hide="maintenanceMode"
			class="card">
		<div class="card-header">
			<nav class="nav nav-tabs nav-justified card-header-tabs">
				<a id="bgg-tab"
						ng-click="showPane('bgg'); toggleSelection(false)"
						href=""
						role="tab"
						aria-controls="fetch-game-form"
						aria-selected="{{ !activePane || activePane == 'bgg' }}"
						class="nav-item nav-link {{ !activePane || activePane == 'bgg' ? 'active' : '' }}">
					<abbr title="BoardGameGeek">BGG</abbr> account
				</a>
				<a id="select-games-tab"
						ng-click="showPane('select'); toggleSelection(true)"
						href=""
						role="tab"
						aria-controls="select-games"
						aria-selected="{{ activePane == 'select' }}"
						class="nav-item nav-link {{ activePane == 'select' ? 'active' : '' }}">
					<span ng-hide="isEmpty(likedGames)"
							class="badge badge-primary">
						{{ likedGames.length }}
					</span>
					Select games
				</a>
			</nav>
		</div>
		<div class="card-body">
			<div id="select-games"
					ng-show="activePane == 'select'"
					aria-labelledby="select-games-tab">
				<p class="card-text mb-1">
					Select games you like and we will recommend games for your taste!
					<em>Note</em>: You can also select games from the recommendations below.
				</p>
				<form ng-submit="fetchAndUpdate()"
						id="select-games-search-form"
						name="select-games-search-form"
						novalidate="novalidate"
						role="form"
						class="form mb-1 input-group dropdown">
					<input type="search"
						id="select-games-search"
						name="select-games-search"
						ng-model="searchLikedGames"
						ng-change="updateSearchGames()"
						data-toggle="dropdown"
						class="form-control"
						placeholder="Search for a game you like"
						autocomplete="off" />
					<div class="dropdown-menu mw-100 py-1" id="select-games-dropdown">
						<a ng-repeat="game in searchGames | filter:{'name':searchLikedGames} | orderBy:['rec_rank','bgg_rank','name'] | limitTo:8"
								ng-click="contains(likedGames, game) ? unlikeGame(game) : likeGame(game)"
								class="dropdown-item text-truncate py-0"
								href="">
							<i ng-if="contains(likedGames, game)" class="fas fa-thumbs-up"></i>
							{{ game.name_short || game.name }}
							<small ng-if="game.year" class="text-muted">({{ game.year }})</small>
						</a>
						<p class="dropdown-item text-muted text-truncate mb-0 py-0">
							<em>Type to search for games</em>
						</p>
					</div>
					<div class="input-group-append">
						<button type="button"
								ng-disabled="!searchLikedGames"
								ng-click="clearField('searchLikedGames', 'select-games-search')"
								class="btn btn-outline-secondary">
							<i class="fas fa-times"></i>
						</button>
						<button type="submit"
								ng-disabled="!searchLikedGames"
								class="btn btn-primary">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</form>
				<div class="clearfix">
					<div class="btn-group-vertical float-right ml-1 mb-1">
						<button type="button"
								ng-disabled="isEmpty(likedGames)"
								ng-click="resetField('user')"
								class="btn btn-primary">
							<i class="fas fa-dice"></i>
							Recommend!
						</button>
						<button type="button"
								data-toggle="collapse"
								data-target="#selectable-games"
								aria-expanded="false"
								aria-controls="selectable-games"
								class="btn btn-outline-primary btn-sm">
							<i class="fas fa-fire"></i>
							Load popular games
						</button>
					</div>
					<strong ng-hide="isEmpty(likedGames)">Liked games:</strong>
					<a ng-repeat="game in likedGames"
							ng-click="unlikeGame(game)"
							id="like-{{ game.bgg_id }}"
							href=""
							class="badge badge-success badge-liked-game mr-1"
							title="&quot;{{ game.name }}&quot; {{ game.designer_display ? 'by ' + game.designer_display : '' }} {{ game.year ? '(' + game.year + ')' : '' }}"
							data-toggle="tooltip"
							data-placement="bottom">
						<i class="fas fa-thumbs-up"></i>
						{{ game.name_short || game.name }}
					</a>
				</div>
				<div id="selectable-games" class="collapse row selectable-games">
					<a ng-repeat="game in popularGames"
						game-square=""
						game="game"
						thumb="outline"
						ng-click="likeGame(game)"
						href=""
						class="col-xl-2 col-md-3 col-sm-4 col-6 game-small"
						add-class="game-zoomable game-selectable"></a>
					<div ng-if="popularGamesPage"
							ng-click="fetchPopularGames(popularGamesPage)"
							class="col-xl-2 col-md-3 col-sm-4 col-6 game-small">
						<div class="game game-more">
							<div>
								<h2 class="game-title">
									More...
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<form ng-show="!activePane || activePane == 'bgg'"
					ng-submit="updateParams()"
					id="fetch-game-form"
					name="fetch-game-form"
					novalidate="novalidate"
					role="form"
					aria-labelledby="bgg-tab"
					class="form">
				<label for="user"
						id="bgg-user-label"
						class="{{ user ? 'text-success' : 'text-muted' }} mb-0">
					Personal recommendations for:
				</label>
				<div class="input-group">
					<input type="search"
						id="user"
						name="user"
						ng-model="user"
						ng-required="true"
						ng-change="toggleCollapse('#form-exclude-filters', !!user)"
						ng-focus="toggleCollapse('#form-exclude-filters', !!user)"
						class="form-control"
						placeholder="BoardGameGeek user name"
						aria-describedby="bgg-user-label" />
					<div class="input-group-append">
						<button type="button"
								ng-disabled="!user"
								ng-click="clearField('user'); toggleCollapse('#form-exclude-filters', false)"
								class="btn btn-outline-secondary">
							<i class="fas fa-times"></i>
						</button>
						<button type="submit"
								ng-disabled="!user"
								class="btn btn-primary">
							<i class="fas fa-dice"></i>
						</button>
					</div>
				</div>
				<div id="form-exclude-filters" class="collapse">
					<div class="{{ user &amp;&amp; !groupRecommendation ? 'text-success' : 'text-muted' }} mb-0">
						Exclude games from recommendations:
					</div>
					<div class="{{ user &amp;&amp; !groupRecommendation ? 'form-exclude-enabled' : 'form-exclude-disabled' }} mb-1">
						<div class="form-check form-check-inline"
								data-toggle="tooltip"
								data-placement="bottom"
								title="Don't recommend games the user has rated">
							<label class="switch mb-0">
								<input type="checkbox"
									id="filter-exclude-rated"
									name="filter-exclude-rated"
									ng-model="exclude.rated"
									ng-disabled="!user || groupRecommendation" />
								<span class="slider {{ user &amp;&amp; !groupRecommendation &amp;&amp; exclude.rated ? 'bg-success' : 'bg-secondary' }}"></span>
							</label>
							<label class="form-check-label form-label-exclude {{ user &amp;&amp; !groupRecommendation &amp;&amp; exclude.rated ? 'text-success' : 'text-muted' }} ml-1"
									for="filter-exclude-rated">
								rated
							</label>
						</div>
						<div class="form-check form-check-inline"
								data-toggle="tooltip"
								data-placement="bottom"
								title="Don't recommend games the user owns, has previously owned, or preordered">
							<label class="switch mb-0">
								<input type="checkbox"
									id="filter-exclude-owned"
									name="filter-exclude-owned"
									ng-model="exclude.owned"
									ng-disabled="!user || groupRecommendation" />
								<span class="slider {{ user &amp;&amp; !groupRecommendation &amp;&amp; exclude.owned ? 'bg-success' : 'bg-secondary' }}"></span>
							</label>
							<label class="form-check-label form-label-exclude {{ user &amp;&amp; !groupRecommendation &amp;&amp; exclude.owned ? 'text-success' : 'text-muted' }} ml-1"
									for="filter-exclude-owned">
								owned
							</label>
						</div>
						<div class="form-check form-check-inline"
								data-toggle="tooltip"
								data-placement="bottom"
								title="Don't recommend games the user has on their wishlist">
							<label class="switch mb-0">
								<input type="checkbox"
									id="filter-exclude-wishlist"
									name="filter-exclude-wishlist"
									ng-model="exclude.wishlist"
									ng-disabled="!user || groupRecommendation" />
								<span class="slider {{ user &amp;&amp; !groupRecommendation &amp;&amp; exclude.wishlist ? 'bg-success' : 'bg-secondary' }}"></span>
							</label>
							<label class="form-check-label form-label-exclude {{ user &amp;&amp; !groupRecommendation &amp;&amp; exclude.wishlist ? 'text-success' : 'text-muted' }} ml-1"
									for="filter-exclude-wishlist">
								wishlist
							</label>
						</div>
						<div class="form-check form-check-inline"
								data-toggle="tooltip"
								data-placement="bottom"
								title="Don't recommend games the user has played">
							<label class="switch mb-0">
								<input type="checkbox"
									id="filter-exclude-played"
									name="filter-exclude-played"
									ng-model="exclude.played"
									ng-disabled="!user || groupRecommendation" />
								<span class="slider {{ user &amp;&amp; !groupRecommendation &amp;&amp; exclude.played ? 'bg-success' : 'bg-secondary' }}"></span>
							</label>
							<label class="form-check-label form-label-exclude {{ user &amp;&amp; !groupRecommendation &amp;&amp; exclude.played ? 'text-success' : 'text-muted' }} ml-1"
									for="filter-exclude-played">
								played
							</label>
						</div>
						<div class="form-check form-check-inline"
								data-toggle="tooltip"
								data-placement="bottom"
								title="Don't recommend games that are implementations of other excluded games">
							<label class="switch mb-0">
								<input type="checkbox"
									id="filter-exclude-clusters"
									name="filter-exclude-clusters"
									ng-model="exclude.clusters"
									ng-disabled="!user || groupRecommendation" />
								<span class="slider {{ user &amp;&amp; !groupRecommendation &amp;&amp; exclude.clusters ? 'bg-success' : 'bg-secondary' }}"></span>
							</label>
							<label class="form-check-label form-label-exclude {{ user &amp;&amp; !groupRecommendation &amp;&amp; exclude.clusters ? 'text-success' : 'text-muted' }} ml-1"
									for="filter-exclude-clusters">
								implementations
							</label>
						</div>
					</div>
					<div class="{{ user ? '' : 'text-muted' }} mb-0">
						Use recommender model:
						<a href="/#/faq#what-are-the-standard-and-similarity-models-in-the-recommendation-settings"
								data-toggle="tooltip"
								data-placement="right"
								title="Read more about the different models"
								class="text-muted">
							<i class="fas fa-info-circle"></i>
						</a>
					</div>
					<div class="{{ user ? 'form-exclude-enabled' : 'form-exclude-disabled' }}">
						<div class="form-check form-check-inline"
								data-toggle="tooltip"
								data-placement="bottom"
								title="Use the default or similarity based model for recommendations">
							<label class="form-check-label form-label-exclude {{ user &amp;&amp; !similarity ? 'text-success' : 'text-muted' }} mr-1"
									for="recommender-similarity">
								default
							</label>
							<label class="switch mb-0">
								<input type="checkbox"
									id="recommender-similarity"
									name="recommender-similarity"
									ng-model="similarity"
									ng-disabled="!user" />
								<span class="slider bg-secondary"></span>
							</label>
							<label class="form-check-label form-label-exclude {{ user &amp;&amp; similarity ? 'text-success' : 'text-muted' }} ml-1"
									for="recommender-similarity">
								similarity
							</label>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div ng-show="selectionActive"
			class="text-right pt-1 mb-0 rec-button-container">
		<div id="rec-button-tooltip"
				data-toggle="tooltip"
				data-placement="bottom"
				title="You can also select games you like in the list below"
				class="btn-group rec-button-tooltip" role="group">
			<button type="button"
					ng-click="toggleSelection(false)"
					class="btn btn-secondary">
				<i class="fas fa-times"></i>
				Cancel
			</button>
			<button type="button"
				ng-disabled="isEmpty(likedGames)"
				ng-click="resetField('user')"
				class="btn btn-primary">
				<i class="fas fa-dice"></i>
				Recommend!
			</button>
		</div>
	</div>

	<form ng-hide="maintenanceMode"
			ng-submit="updateParams()"
			id="search-game-form"
			name="search-game-form"
			novalidate="novalidate"
			role="form"
			class="form form-row align-items-end mt-1">
		<div class="col-xl-9 col-lg-8 col-md-7 col-sm-6 mb-3">
			<label for="search"
					id="search-label"
					class="{{ search ? 'text-success' : 'text-muted' }} mb-0">
				Filter games by name:
			</label>
			<div class="input-group">
				<input type="search"
					id="search"
					name="search"
					ng-model="search"
					ng-required="true"
					class="form-control"
					placeholder="e.g., &quot;catan&quot;"
					aria-describedby="search-label" />
				<div class="input-group-append">
					<button type="button"
							ng-disabled="!search"
							ng-click="clearField('search')"
							class="btn btn-outline-secondary">
						<i class="fas fa-times"></i>
					</button>
					<button type="submit"
							ng-disabled="!search"
							class="btn btn-primary">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mb-3 text-right">
			<div class="btn-group btn-group-sm" role="group" aria-label="Filters">
				<button type="button"
						class="btn btn-outline-secondary"
						ng-click="clearFilters()">
					<i class="fas fa-times"></i>
					Clear filters
				</button>
				<button type="button"
						class="btn btn-outline-primary"
						ng-click="renderSlider()"
						data-toggle="collapse"
						data-target="#filter-game-form"
						aria-expanded="false"
						aria-controls="filter-game-form">
					<span ng-if="filtersActive()"
							class="badge badge-primary">
						{{ filtersActive() }}
					</span>
					Advanced
					<i class="far fa-plus-square" id="filter-toggle-icon"></i>
				</button>
			</div>
		</div>
	</form>

	<form ng-hide="maintenanceMode"
			ng-submit="updateParams()"
			id="filter-game-form"
			name="filter-game-form"
			novalidate="novalidate"
			role="form"
			class="collapse form">
		<div class="form-row mb-3"
				data-toggle="tooltip"
				title="Filter by number of players">
			<div class="col-xl-4 col-lg-5 col-md-6 input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<label class="switch mb-0">
							<input type="checkbox"
								id="filter-count-enable"
								name="filter-count-enable"
								ng-model="count.enabled" />
							<span class="slider {{ count.enabled ? 'bg-success' : 'bg-secondary' }}"></span>
						</label>
					</div>
					<div class="input-group-text">
						<label for="filter-count-enable"
								class="form-check-label form-label-game {{ count.enabled ? 'text-success' : 'text-muted' }}">
							Player count:
							<strong class="text-monospace {{ count.enabled ? '' : 'invisible' }}">
								{{ pad(count.value, 2, '&nbsp;') }}
							</strong>
						</label>
					</div>
				</div>
				<select name="filter-count-type"
						ng-disabled="!count.enabled"
						ng-model="count.type"
						class="custom-select"
						id="filter-count-type">
					<option value="box">box</option>
					<option value="recommended" selected="selected">recommended</option>
					<option value="best">best</option>
				</select>
			</div>
			<div class="col-xl-8 col-lg-7 col-md-6">
				<rzslider id="filter-count"
					name="filter-count"
					ng-disabled="!count.enabled"
					rz-slider-model="count.value"
					rz-slider-options="count.options"></rzslider>
			</div>
		</div>

		<div class="form-row mb-3"
				data-toggle="tooltip"
				title="Filter by the time a game takes">
			<div class="col-xl-4 col-lg-5 col-md-6 input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<label class="switch mb-0">
							<input type="checkbox"
								id="filter-time-enable"
								name="filter-time-enable"
								ng-model="time.enabled" />
							<span class="slider {{ time.enabled ? 'bg-success' : 'bg-secondary' }}"></span>
						</label>
					</div>
					<div class="input-group-text">
						<label for="filter-time-enable"
								class="form-check-label form-label-game {{ time.enabled ? 'text-success' : 'text-muted' }}">
							Play time:
							<span class="{{ time.enabled ? '' : 'invisible' }}">
								<strong class="text-monospace">{{ pad(time.value, 3, '&nbsp;') }}</strong> minutes
							</span>
						</label>
					</div>
				</div>
				<select name="filter-time-type"
						ng-disabled="!time.enabled"
						ng-model="time.type"
						class="custom-select"
						id="filter-time-type">
					<option value="min">min</option>
					<option value="max" selected="selected">max</option>
				</select>
			</div>
			<div class="col-xl-8 col-lg-7 col-md-6">
				<rzslider id="filter-time"
					name="filter-time"
					ng-disabled="!time.enabled"
					rz-slider-model="time.value"
					rz-slider-options="time.options"></rzslider>
			</div>
		</div>

		<div class="form-row mb-3"
				data-toggle="tooltip"
				title="Filter by minimum player age">
			<div class="col-xl-4 col-lg-5 col-md-6 input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<label class="switch mb-0">
							<input type="checkbox"
								id="filter-age-enable"
								name="filter-age-enable"
								ng-model="age.enabled" />
							<span class="slider {{ age.enabled ? 'bg-success' : 'bg-secondary' }}"></span>
						</label>
					</div>
					<div class="input-group-text">
						<label for="filter-age-enable"
								class="form-check-label form-label-game {{ age.enabled ? 'text-success' : 'text-muted' }}">
							Player age:
							<span class="{{ age.enabled ? '' : 'invisible' }}">
								<strong class="text-monospace">{{ pad(age.value, 2, '&nbsp;') }}</strong> years
							</span>
						</label>
					</div>
				</div>
				<select name="filter-age-type"
						ng-disabled="!age.enabled"
						ng-model="age.type"
						class="custom-select"
						id="filter-age-type">
					<option value="box">box</option>
					<option value="recommended" selected="selected">recommended</option>
				</select>
			</div>
			<div class="col-xl-8 col-lg-7 col-md-6">
				<rzslider id="filter-age"
					name="filter-age"
					ng-disabled="!age.enabled"
					rz-slider-model="age.value"
					rz-slider-options="age.options"></rzslider>
			</div>
		</div>

		<div class="form-row mb-3"
				data-toggle="tooltip"
				title="Filter by game complexity, from light to heavy">
			<div class="col-xl-4 col-lg-5 col-md-6 input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<label class="switch mb-0">
							<input type="checkbox"
								id="filter-complexity-enable"
								name="filter-complexity-enable"
								ng-model="complexity.enabled" />
							<span class="slider {{ complexity.enabled ? 'bg-success' : 'bg-secondary' }}"></span>
						</label>
					</div>
				</div>
				<div class="input-group-append">
					<div class="input-group-text">
						<label for="filter-complexity-enable"
								class="form-check-label form-label-game {{ complexity.enabled ? 'text-success' : 'text-muted' }}">
							Complexity:
							<strong class="text-monospace {{ complexity.enabled ? '' : 'invisible' }}">
								{{ complexity.min | number:1 }}&mdash;{{ complexity.max | number:1 }}
							</strong>
						</label>
					</div>
				</div>
			</div>
			<div class="col-xl-8 col-lg-7 col-md-6">
				<rzslider id="filter-complexity"
					name="filter-complexity"
					ng-disabled="!complexity.enabled"
					rz-slider-model="complexity.min"
					rz-slider-high="complexity.max"
					rz-slider-options="complexity.options"></rzslider>
			</div>
		</div>

		<div class="form-row mb-3"
				data-toggle="tooltip"
				title="Filter by publication year">
			<div class="col-xl-4 col-lg-5 col-md-6 input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<label class="switch mb-0">
							<input type="checkbox"
								id="filter-year-enable"
								name="filter-year-enable"
								ng-model="year.enabled" />
							<span class="slider {{ year.enabled ? 'bg-success' : 'bg-secondary' }}"></span>
						</label>
					</div>
				</div>
				<div class="input-group-append">
					<div class="input-group-text">
						<label for="filter-year-enable"
								class="form-check-label form-label-game {{ year.enabled ? 'text-success' : 'text-muted' }}">
							Year:
							<span class="{{ year.enabled ? '' : 'invisible' }}">
								<strong class="text-monospace">{{ year.min == year.options.floor ? '&le;' : '&nbsp;' }}{{ year.min }}</strong>
								to
								<strong class="text-monospace">{{ year.max == year.options.ceil ? '&ge;' : '&nbsp;' }}{{ year.max }}</strong>
							</span>
						</label>
					</div>
				</div>
			</div>
			<div class="col-xl-8 col-lg-7 col-md-6">
				<rzslider id="filter-year"
					name="filter-year"
					ng-disabled="!year.enabled"
					rz-slider-model="year.min"
					rz-slider-high="year.max"
					rz-slider-options="year.options"></rzslider>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 input-group mb-3"
					data-toggle="tooltip"
					title="Display only cooperative, only competitive, or all games">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<label for="filter-cooperative"
								class="form-check-label {{ cooperative ? 'text-success' : 'text-muted' }}">
							Cooperative:
						</label>
					</div>
				</div>
				<select name="filter-cooperative"
						ng-model="cooperative"
						class="custom-select"
						id="filter-cooperative">
					<option selected="selected" ng-value="null">[all]</option>
					<option value="True">only cooperative</option>
					<option value="False">only competitive</option>
				</select>
			</div>
			<div class="col-md-6 input-group mb-3"
					data-toggle="tooltip"
					title="Filter by game type">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<label for="filter-types"
								class="form-check-label {{ gameType ? 'text-success' : 'text-muted' }}">
							Type:
						</label>
					</div>
				</div>
				<select name="filter-types"
						ng-model="gameType"
						ng-disabled="isEmpty(gameTypes)"
						class="custom-select"
						id="filter-types">
					<option selected="selected" ng-value="null">[all]</option>
					<optgroup label="By popularity">
						<option ng-repeat="type in gameTypes"
								ng-value="type.bgg_id">
							{{ type.name }}
						</option>
					</optgroup>
					<optgroup label="Alphabetically">
						<option ng-repeat="type in gameTypesSorted"
								ng-value="type.bgg_id">
							{{ type.name }}
						</option>
					</optgroup>
				</select>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 input-group mb-3"
					data-toggle="tooltip"
					title="Filter by category">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<label for="filter-categories"
								class="form-check-label {{ category ? 'text-success' : 'text-muted' }}">
							Category:
						</label>
					</div>
				</div>
				<select name="filter-categories"
						ng-model="category"
						ng-disabled="isEmpty(categories)"
						class="custom-select"
						id="filter-categories">
					<option selected="selected" ng-value="null">[all]</option>
					<optgroup label="By popularity">
						<option ng-repeat="cat in categories"
								ng-value="cat.bgg_id">
							{{ cat.name }}
						</option>
					</optgroup>
					<optgroup label="Alphabetically">
						<option ng-repeat="cat in categoriesSorted"
								ng-value="cat.bgg_id">
							{{ cat.name }}
						</option>
					</optgroup>
				</select>
			</div>
			<div class="col-md-6 input-group mb-3"
					data-toggle="tooltip"
					title="Filter by mechanic">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<label for="filter-mechanics"
								class="form-check-label {{ mechanic ? 'text-success' : 'text-muted' }}">
							Mechanic:
						</label>
					</div>
				</div>
				<select name="filter-mechanics"
						ng-model="mechanic"
						ng-disabled="isEmpty(mechanics)"
						class="custom-select"
						id="filter-mechanics">
					<option selected="selected" ng-value="null">[all]</option>
					<optgroup label="By popularity">
						<option ng-repeat="mec in mechanics"
								ng-value="mec.bgg_id">
							{{ mec.name }}
						</option>
					</optgroup>
					<optgroup label="Alphabetically">
						<option ng-repeat="mec in mechanicsSorted"
								ng-value="mec.bgg_id">
							{{ mec.name }}
						</option>
					</optgroup>
				</select>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 input-group mb-3"
					data-toggle="tooltip"
					title="Select the ordering of the results">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<label for="filter-ordering"
								class="form-check-label {{ user || !isEmpty(likedGames) ? 'text-muted' : 'text-success' }}">
							Sort by:
						</label>
					</div>
				</div>
				<select name="filter-ordering"
						ng-model="ordering"
						ng-disabled="user || !isEmpty(likedGames)"
						class="custom-select"
						id="filter-ordering">
					<option selected="selected" value="rg">Recommend.Games ranking</option>
					<option value="bgg">BoardGameGeek ranking</option>
					<option value="-year">newest first</option>
					<option value="year">oldest first</option>
					<option value="complex">least complex first</option>
					<option value="-complex">most complex first</option>
					<option value="time">shortest first</option>
					<option value="-time">longest first</option>
					<option value="age">youngest age first</option>
					<option value="-age">oldest age first</option>
				</select>
			</div>
			<div class="col-md-3 col-6 mb-3">
				<button type="button"
						ng-click="clearFilters()"
						class="btn btn-outline-secondary btn-block">
					<i class="fas fa-times"></i>
					Clear
				</button>
			</div>
			<div class="col-md-3 col-6 mb-3">
				<button type="submit"
						class="btn btn-primary btn-block">
					<i class="fas fa-filter"></i>
					Filter
				</button>
			</div>
		</div>
	</form>

	<h2 ng-if="!isEmpty(currUser)">
		Recommended games for
		<span ng-repeat="cUser in currUser track by $index">
			<strong>
				<a ng-href="https://boardgamegeek.com/user/{{ cUser }}"
					target="_blank">{{ cUser }} <i class="fas fa-external-link-alt"></i></a>
			</strong>
			<span ng-if="!$last">, </span>
		</span>
	</h2>
	<h2 ng-if="!isEmpty(likedGames)">
		Recommended games based on your taste
	</h2>

	<p ng-hide="maintenanceMode">
		<span ng-if="designerData">
			Games designed by
			<strong>
				<a ng-href="https://boardgamegeek.com/boardgamedesigner/{{ designerData.bgg_id }}"
					target="_blank">{{ designerData.name }} <i class="fas fa-external-link-alt"></i></a>
			</strong>
			<a href=""
				ng-click="resetField('designer')"
				class="text-danger"><i class="fas fa-times"></i></a>.
		</span>
		<span ng-if="artistData">
			Games with art by
			<strong>
				<a ng-href="https://boardgamegeek.com/boardgameartist/{{ artistData.bgg_id }}"
					target="_blank">{{ artistData.name }} <i class="fas fa-external-link-alt"></i></a>
			</strong>
			<a href=""
				ng-click="resetField('artist')"
				class="text-danger"><i class="fas fa-times"></i></a>.
		</span>
		<span ng-if="!isEmpty(currUser) &amp;&amp; !userNotFound">
			See recommendations <a href="" ng-click="resetField('user')">for all users</a> instead.
		</span>
		<span ng-if="!isEmpty(currUser) &amp;&amp; userNotFound" class="text-danger">
			We didn't find any ratings for <span ng-repeat="cUser in currUser track by $index">"{{ cUser }}"<span ng-if="!$last">, </span></span>.
			Recommendations are based on BoardGameGeek user ratings, so we were unable to find personal recommendations.
			Read <a href="/#/faq#why-does-it-say-user-cannot-be-found-when-i-type-in-my-board-game-geek-user-name" class="text-danger"><strong>more about this</strong></a>.
			Below are general recommendations.
		</span>
		<em ng-if="modelUpdatedAt">
			Latest database update: {{ modelUpdatedAt }}.
		</em>
		<em ng-if="userUpdatedAt">
			Latest user collection update: {{ userUpdatedAt }}.
			<a href="/#/faq#ive-updated-my-ratings-on-board-game-geek-but-i-still-see-the-same-recommendations-why"
					data-toggle="tooltip"
					data-placement="bottom"
					title="Read more about scraping and processing your collection"
					class="text-muted">
				<i class="fas fa-info-circle"></i>
			</a>
		</em>
	</p>

	<div ng-if="empty"
			class="alert alert-warning"
			role="alert">
		<h4 class="alert-heading">No games found</h4>
		<p class="mb-0">
			No games could be loaded.
			<a href="" class="alert-link" ng-click="clearFilters()">Try without filters instead</a>...
		</p>
	</div>

	<div class="row">
		<a ng-repeat="game in games"
			ng-if="!selectionActive"
			game-square=""
			game="game"
			show-ranking="true"
			hide-score="hideScore"
			ng-href="/#/game/{{ game.bgg_id }}"
			class="col-lg-3 col-md-4 col-sm-6"></a>
		<a ng-repeat="game in games"
			ng-if="selectionActive"
			game-square=""
			game="game"
			show-ranking="true"
			hide-score="hideScore"
			thumb="{{ contains(likedGames, game) ? 'solid' : 'outline' }}"
			ng-click="contains(likedGames, game) ? unlikeGame(game) : likeGame(game)"
			href=""
			class="col-lg-3 col-md-4 col-sm-6"
			add-class="game-zoomable"></a>
		<div ng-if="nextPage"
				ng-click="fetchGames(nextPage)"
				class="col-lg-3 col-md-4 col-sm-6">
			<div class="game game-more">
				<div>
					<h2 class="game-title">
						More...
						<small ng-if="total"
								class="text-secondary">
							({{ total }} games in total)
						</small>
					</h2>
				</div>
			</div>
		</div>
	</div>

	<section ng-if="statsActive &amp;&amp; !isEmpty(userStats)">
		<h2>
			Statistics for <strong>
				<a ng-href="https://boardgamegeek.com/user/{{ currUser[0] }}"
					target="_blank">{{ currUser[0] }} <i class="fas fa-external-link-alt"></i></a>
			</strong>
		</h2>
		<p>More <a href="/#/stats">stats</a>...</p>
		<div class="card mb-3">
			<div class="card-header">
				<nav class="nav nav-tabs nav-justified card-header-tabs">
					<a id="stats-rg-tab"
							ng-click="updateStats('rg')"
							href=""
							role="tab"
							aria-selected="{{ statsActive == 'rg' }}"
							class="nav-item nav-link {{ statsActive == 'rg' ? 'active' : '' }}">
						<abbr title="Recommend.Games">R.G</abbr> top 100
					</a>
					<a id="stats-bgg-tab"
							ng-click="updateStats('bgg')"
							href=""
							role="tab"
							aria-selected="{{ statsActive == 'bgg' }}"
							class="nav-item nav-link {{ statsActive == 'bgg' ? 'active' : '' }}">
						<abbr title="BoardGameGeek">BGG</abbr> top 100
					</a>
				</nav>
			</div>
			<div class="card-body">
				<div class="progress bg-secondary mb-1">
					<div id="progress-bar-played_pct"
							class="progress-bar bg-success"
							role="progressbar"
							aria-valuenow="{{ userStats.played_pct }}"
							aria-valuemin="0"
							aria-valuemax="100">
						<strong>&nbsp;Played: {{ userStats.played_pct | number:0 }}%&nbsp;</strong>
					</div>
				</div>
				<div class="progress bg-secondary mb-1">
					<div id="progress-bar-owned_pct"
							class="progress-bar bg-success"
							role="progressbar"
							aria-valuenow="{{ userStats.owned_pct }}"
							aria-valuemin="0"
							aria-valuemax="100">
						<strong>&nbsp;Owned: {{ userStats.owned_pct | number:0 }}%&nbsp;</strong>
					</div>
				</div>
				<div class="progress bg-secondary">
					<div id="progress-bar-rated_pct"
							class="progress-bar bg-success"
							role="progressbar"
							aria-valuenow="{{ userStats.rated_pct }}"
							aria-valuemin="0"
							aria-valuemax="100">
						<strong>&nbsp;Rated: {{ userStats.rated_pct | number:0 }}%&nbsp;</strong>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"url": "https://recommend.games/",
			"potentialAction": [{
				"@type": "SearchAction",
				"target": "https://recommend.games/#/?search={search_term_string}",
				"query-input": "required name=search_term_string"
			}]
		}
	</script>
</section>
