.recommend-games {
    font-variant: small-caps;
    white-space: nowrap;
}

.game,
.article {
    background-color: lightgrey;
    background-color: rgba(192, 192, 192, .5);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: block;
    margin: 5px 0;
    padding-bottom: 100%;
    position: relative;
}

.article {
    color: white;
    text-shadow: 0 0 3px black;
}

.game-more,
.article-more {
    background-color: grey;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.game > div,
.article > div {
    background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, .2),
        black);
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.article > div,
.article.article-more > div,
.article.article-more > div:hover,
.article.article-more > div.selected {
    background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, .4),
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .8));
    transition: background-image .4s;
}

.article > div:hover,
.article > div.selected {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, .5),
        rgba(0, 0, 0, .7),
        rgba(0, 0, 0, .8),
        rgba(0, 0, 0, .9));
}

.article-fade {
    background-image: linear-gradient(
        to bottom,
        transparent,
        black);
    bottom: 0;
    height: 2rem;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.game-rank {
    font-size: 1.2rem;
    line-height: .8;
    position: absolute;
    right: 10px;
    top: 10px;
}

.game-small .game-rank {
    font-size: .9rem;
}

.game-stars {
    font-size: .7rem;
}

.article-title {
    font-size: 1.4rem;
    padding-top: 50%;
    transition: padding .4s;
}

.article > div:hover .article-title,
.article > div.selected .article-title {
    padding-top: 0;
}

.game-title,
.article.article-more > div .article-title,
.article.article-more > div:hover .article-title,
.article.article-more > div.selected .article-title {
    bottom: 0;
    color: white;
    font-size: 1.2rem;
    padding: 0 10px;
    position: absolute;
    text-shadow: 0 0 3px black;
}

.game-small .game-title {
    font-size: 1rem;
}

.game-zoomable {
    transition: all .2s;
}

.game-selectable {
    opacity: .5;
}

.game-zoomable:hover {
    opacity: 1;
    transform: scale(1.1);
}

.game-liked .game-selectable {
    opacity: 1;
}

.badge-liked-game {
    font-size: unset;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
    white-space: nowrap;
}

.game-thumb {
    color: white;
    font-size: 2rem;
    left: 0;
    position: absolute;
    text-shadow: 0 0 5px black;
    top: 0;
}

.game-img {
    max-height: 250px;
}

.rec-button-container {
    max-height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.rec-button-container.ng-hide-add,
.rec-button-container.ng-hide-remove {
    overflow: hidden;
    transition: all 0.2s linear;
}

.rec-button-container.ng-hide {
    max-height: 0;
}

.rec-button-tooltip {
    border-radius: .25rem;
    box-shadow: 0 0 4px 1px white;
}

.rec-button-container button:disabled,
.rec-button-container button[disabled] {
    pointer-events: none;
}

.img-person {
    border-radius: 50%;
    max-height: 12rem;
    max-width: 50%;
}

.img-icon-stats {
    max-height: 1.5rem;
    max-width: 1.5rem;
}

@media only screen and (max-width: 767.98px) {
    .expandable {
        max-height: 400px;
        overflow: hidden;
        padding-bottom: 30px;
        position: relative;
        -webkit-transition: .4s ease-in-out;
        transition: .4s ease-in-out;
    }

    .expandable.expanded {
        max-height: 9999px;
    }

    .expandable .expandable-bottom {
        background-image: linear-gradient(transparent, white, white);
        bottom: 0;
        cursor: pointer;
        font-weight: bold;
        height: 60px;
        left: 0;
        position: absolute;
        text-align: center;
        -webkit-transition: .4s;
        transition: .4s;
        width: 100%;
    }

    .expandable .expandable-bottom span {
        bottom: 0;
        position: absolute;
    }

    .expandable.expanded .expandable-bottom {
        background-image: none;
    }
}

@media only screen and (min-width: 768px) {
    .expandable .expandable-bottom {
        display: none;
    }
}

.btn-more {
    font-size: 1.8rem;
    left: 23%;
    position: absolute;
    top: 40%;
}

.nav-link-icon {
    white-space: nowrap;
}

.bgg-icon {
    height: 18px;
    vertical-align: text-bottom;
    width: auto;
}

.player-count-container {
    display: inline-block;
    font-size: 75%;
    line-height: 1;
    vertical-align: super;
}

.player-count {
    height: 2rem;
}

.player-count-not,
.player-count-box {
    opacity: .333;
}

.player-count-recommended {
    opacity: .666;
}

.game-age,
.game-complexity,
.game-cooperative,
.game-time,
.game-ranking {
    font-size: 150%;
    white-space: nowrap;
}

.text-monospace {
    font-size: smaller;
}

.rzslider {
    margin-top: 15px;
}

.switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 35px;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.slider {
    background-color: #ccc;
    border-radius: 10px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    background-color: white;
    border-radius: 50%;
    bottom: 1px;
    content: "";
    height: 18px;
    left: 1px;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
    width: 18px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.form-label-game {
    cursor: pointer;
}

.form-exclude-disabled .slider,
.form-exclude-disabled .form-label-exclude {
    cursor: not-allowed;
}

.form-exclude-enabled .form-label-exclude {
    cursor: pointer;
}

.form-label-exclude {
    text-decoration: underline dotted;
}

.related-games,
.selectable-games {
    line-height: 1;
}

.fa-external-link-alt {
    font-size: 60%;
    vertical-align: middle;
}

.product-link,
.product-link:link,
.product-link:visited,
.product-link:hover,
.product-link:active {
    text-decoration: none;
}

.product-link-flag {
    font-size: 125%;
    vertical-align: middle;
}


.angular-error {
    animation: 3s fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.faq-anchor {
    font-size: 80%;
}

.faq-headline .faq-anchor {
    visibility: hidden;
}

.faq-headline:hover .faq-anchor,
.faq-headline:focus .faq-anchor,
.faq-headline:active .faq-anchor {
    visibility: visible;
}

.sdj-color {
    color: #E30613;
}

.kdj-color {
    color: #193F4A;
}

.rg-color {
    color: black;
}

.rg-color-light {
    color: rgb(100, 100, 100);
}

.bgg-color {
    color: #FF5100;
}

.social-link {
    color: inherit;
}

.social-link .bgg-icon {
    filter: brightness(0);
    height: 30px;
    padding-bottom: 4px;
    vertical-align: text-bottom;
}
